<div class='tweet-comments py-2'>
  <p>
    <b class="name-color"><%= comment.user.full_name.capitalize %>:</b> <%= comment.content %>
  </p>
  <p class='small'>
    (<span><b><%= date(comment) %></b></span>)
  </p>
</div>
