<div class="column is-half">
  <% if current_user.present? %>
	<article class="media box">
		<figure class="media-left">
			<p class="image is-64x64">
				<%= gravatar_image_tag(current_user.email, size: 64, alt: current_user.full_name) %>
			</p>
		</figure>
		<div class="media-content">
			 <%= render 'tweets/form' %>
		</div>
	</article>
  <% end %>

<% if @tweets.present?%>
  <% @tweets.each do | tweet | %>
    <div id="tweet_<%=tweet.id%>">
      <%= render 'tweet', tweet: tweet %>
    </div>
  <% end %>
<%else%>
  <h2>No Tweeets</h2>
<%end%>
</div>