<section class="section">
  <div class="container">
    <div class="columns">
    	<% if current_user.present? %>
    		<%= render 'profile' %>
    	<% else %>
      <div class="column is-one-quarter">
      </div>
      <% end %>

       <%= render 'feed' %>
    </div>
  </div>
</section>
